<div id="portfolio">
    <div class="container">
        <h1 class="sub-title">My Work</h1>
        <div class="worklist" >

            <!-- <div class="work">
                <img src="{{work.photoUrl}}" >
                <div class="layer">
                    <h3>{{work.title}}</h3>
                    <p>{{work.description}}</p>
                    <a href="{{work.href}}" target="_blank"><i class="fa fa-external-link"></i></a>
                </div>
            </div> -->

            <div class="work">
                <img src="./assets/FriendSpace.jpg" >
                <div class="layer">
                    <h3>FriendSpace</h3>
                    <p>A cutting-edge app built with ASP.NET and Angular, showcasing powerful features like real-time updates with SignalR, dynamic Observables, and much more.</p>
                    <a href="https://github.com/AyhamFarhat/DatingApp1" target="_blank"><i class="fa fa-external-link"></i></a>
                </div>
            </div>

            <div class="work">
                <img src="./assets/ChessGame.jpg" >
                <div class="layer">
                    <h3>Chess Game</h3>
                    <p>An advanced C++ chess engine utilizing smart pointers for efficient memory management, multithreading for enhanced concurrency, and sophisticated algorithms to determine the best moves with precision</p>
                    <a href="https://github.com/AyhamF2000/ChessGame/tree/myGame" target="_blank"><i class="fa fa-external-link"></i></a>
                </div>
            </div>

            <div class="work">
                <img src="./assets/Programming.jpg" >
                <div class="layer">
                    <h3>More Projects</h3>
                    <p>Explore my GitHub to see my projects. Note: Not all projects are uploaded yet, as I’m continuously adding more.</p>
                    <a href="https://github.com/AyhamF2000" target="_blank"><i class="fa fa-external-link"></i></a>
                </div>
            </div>

    </div>
</div>