<!-- contact.component.html -->

<div id="contact">
    <div class="container">
      <div class="row">
        <div class="contact-left">
          <h1 class="sub-title">Contact Me</h1>
          <p><i class="fa fa-paper-plane"></i>{{ mail }}</p>
          <p><i class="fa fa-phone"></i>{{ phone }}</p>
          <div class="social-icons">
            <a href="https://www.facebook.com/ayham.farhat.3" target="_blank"><i class="fa fa-facebook"></i></a>
            <!-- <a href="contact-me.component.html" target="_blank"><i class="fa fa-github"></i></a>
            <a href="contact-me.component.htm" target="_blank"><i class="fa fa-instagram"></i></a> -->
            <a href="https://www.linkedin.com/in/ayham-farhat/" target="_blank"><i class="fa fa-linkedin"></i></a>
          </div>
          <a href="assets/cv.pdf" download class="btn btn2">Download CV</a>
        </div>
  
        <!-- <div class="contact-right">
          <form> 
            <input type="text" name="Name" placeholder="Your Name" id="n" required>
            <input type="email" name="Email" placeholder="Your Email" id="e" required>
            <textarea name="Message" rows="6" placeholder="Your Message" id="m"></textarea>
            <input type="submit" value="Submit" class="btn btn2">
          </form>
        </div> -->
      </div>
  

    <!-- </div>
    <div class="loginButton">
        <button mat-button (click)="openModal()">See My Messages</button>
        </div>
  </div>
   -->